## 빅데이터분석기사 작업형 2

자동차 보험가입 예측데이터
- 데이터 설명 : 자동차 보험 가입 예측 (종속변수 Response: 1 : 가입 , 0 :미가입)
- x_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/x_train.csv
- y_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/y_train.csv
- x_test: https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/x_test.csv
- x_label(평가용) : https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/y_test.csv
- 데이터 출처 :https://www.kaggle.com/anmolkumar/health-insurance-cross-sell-prediction(참고, 데이터 수정)

In [1]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/x_test.csv")

display(x_train.head())
display(y_train.head())

,ID,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,id
0,0,Female,23,1,8.0,0,< 1 Year,Yes,61354.0,152.0,235,NaN
1,1,Male,27,1,28.0,1,< 1 Year,No,38036.0,152.0,207,NaN
2,2,Female,23,1,45.0,0,< 1 Year,Yes,25984.0,152.0,217,NaN
3,3,Male,22,1,46.0,0,< 1 Year,No,39499.0,152.0,277,NaN
4,4,Male,32,1,30.0,1,< 1 Year,No,38771.0,152.0,251,NaN

   ID  Response
0   0         0
1   1         0
2   2         1
3   3         0
4   4         0

In [2]:
# 결측치 확인
print(x_train.isna().sum())
print(x_test.isna().sum())

ID                           0
Gender                       0
Age                          0
Driving_License              0
Region_Code                  0
Previously_Insured           0
Vehicle_Age                  0
Vehicle_Damage               0
Annual_Premium               0
Policy_Sales_Channel         0
Vintage                      0
id                      304887
dtype: int64
ID                      0
Gender                  0
Age                     0
Driving_License         0
Region_Code             0
Previously_Insured      0
Vehicle_Age             0
Vehicle_Damage          0
Annual_Premium          0
Policy_Sales_Channel    0
Vintage                 0
id                      0
dtype: int64

In [3]:
# 결측치 처리
x_train['id'] = x_train['id'].fillna(0)

In [4]:
# 불필요한 컬럼 제거
x_test_ID = x_test['id']
x_train = x_train.drop(columns = ['ID'], axis =1)
x_test = x_test.drop(columns = ['ID'], axis =1)

In [5]:
# 범주형 수치형 변수 확인
obj = x_train.select_dtypes(include = 'object').columns
num = x_train.select_dtypes(include = 'number').columns
print(obj) 
print(num)

Index(['Gender', 'Vehicle_Age', 'Vehicle_Damage'], dtype='object')
Index(['Age', 'Driving_License', 'Region_Code', 'Previously_Insured',
       'Annual_Premium', 'Policy_Sales_Channel', 'Vintage', 'id'],
      dtype='object')

In [6]:
# 범주형 변수 전처리
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
x_train['Gender'] = encoder.fit_transform(x_train['Gender'])
x_train['Vehicle_Age'] = encoder.fit_transform(x_train['Vehicle_Age'])
x_train['Vehicle_Damage'] = encoder.fit_transform(x_train['Vehicle_Damage'])

x_test['Gender'] = encoder.fit_transform(x_test['Gender'])
x_test['Vehicle_Age'] = encoder.fit_transform(x_test['Vehicle_Age'])
x_test['Vehicle_Damage'] = encoder.fit_transform(x_test['Vehicle_Damage'])

In [7]:
# 수치형 변수 전처리
from sklearn.preprocessing import StandardScaler
scaler= StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

In [8]:
# 데이터분리
from sklearn.model_selection import train_test_split
X_TRAIN,X_TEST,Y_TRAIN,Y_TEST = train_test_split(x_train, y_train['Response'], test_size=0.3,random_state=1234)

In [9]:
# 모델링
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_TRAIN, Y_TRAIN)
Y_TEST_PRED = model.predict_proba(X_TEST)[:,1]

In [10]:
# 평가
from sklearn.metrics import roc_auc_score
print(roc_auc_score(Y_TEST, Y_TEST_PRED))

0.8347810778484511

In [11]:
# 최종제출
y_test_pred = model.predict_proba(x_test)[:,1]
result = pd.DataFrame(y_test_pred)
final = pd.concat([x_test_ID, result],axis=1).rename(columns = {0:'Response'})
final.to_csv('123456.csv', index =False)

In [12]:
# 제출확인
check = pd.read_csv('123456.csv')
print(check)

             id  Response
0      310373.0      0.00
1      173124.0      0.00
2       89621.0      0.12
3      356129.0      0.00
4      258565.0      0.03
...         ...       ...
76217   25688.0      0.00
76218  184322.0      0.00
76219  185285.0      0.10
76220  120053.0      0.06
76221   86978.0      0.39

[76222 rows x 2 columns]