## 빅데이터분석기사 작업형 2

사기회사 분류 데이터
- 데이터 설명 : 사기회사 분류 (종속변수 : Risk 1: 사기 , 0 : 정상)
- x_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/x_train.csv
- y_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/y_train.csv
- x_test: https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/x_test.csv
- x_label(평가용) : https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/y_test.csv
- 데이터 출처 :https://www.kaggle.com/sid321axn/audit-data(참고, 데이터 수정)

In [1]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/x_test.csv")

display(x_train.head())
display(y_train.head())

,ID,Sector_score,LOCATION_ID,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,...,PROB,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk
0,0,2.37,16,0.01,0.2,0.002,0.007,0.2,0.0014,0.017,...,0.2,0.4,0,0.2,0.0,2.0,1.4034,0.4,0.5,0.28068
1,2,55.57,9,1.06,0.4,0.424,0.000,0.2,0.0000,1.060,...,0.2,0.4,0,0.2,0.0,2.2,1.8240,0.4,0.5,0.36480
2,3,55.57,16,2.42,0.6,1.452,3.530,0.6,2.1180,5.950,...,0.2,0.4,0,0.2,0.0,3.8,7.4940,0.4,0.5,1.49880
3,4,2.37,9,0.31,0.2,0.062,0.690,0.2,0.1380,1.000,...,0.2,0.4,0,0.2,0.0,2.0,1.6000,0.4,0.5,0.32000
4,5,55.57,6,0.62,0.2,0.124,0.420,0.2,0.0840,1.040,...,0.2,0.4,0,0.2,0.0,2.0,1.6080,0.4,0.5,0.32160

   ID  Risk
0   0     0
1   2     0
2   3     1
3   4     0
4   5     0

In [2]:
# 결측치 확인
print(x_train.isna().sum())
print(x_test.isna().sum())

ID                0
Sector_score      0
LOCATION_ID       0
PARA_A            0
Score_A           0
Risk_A            0
PARA_B            0
Score_B           0
Risk_B            0
TOTAL             0
numbers           0
Score_B.1         0
Risk_C            0
Money_Value       1
Score_MV          0
Risk_D            0
District_Loss     0
PROB              0
RiSk_E            0
History           0
Prob              0
Risk_F            0
Score             0
Inherent_Risk     0
CONTROL_RISK      0
Detection_Risk    0
Audit_Risk        0
dtype: int64
ID                0
Sector_score      0
LOCATION_ID       0
PARA_A            0
Score_A           0
Risk_A            0
PARA_B            0
Score_B           0
Risk_B            0
TOTAL             0
numbers           0
Score_B.1         0
Risk_C            0
Money_Value       1
Score_MV          0
Risk_D            0
District_Loss     0
PROB              0
RiSk_E            0
History           0
Prob              0
Risk_F            0
Score             0
Inherent_Risk     0
CONTROL_RISK      0
Detection_Risk    0
Audit_Risk        0
dtype: int64

In [3]:
# 결측치 처리
x_train['Money_Value'] = x_train['Money_Value'].fillna(0)
x_test['Money_Value'] = x_test['Money_Value'].fillna(0)

In [4]:
# 불필요한 컬럼 제거
x_test_ID = x_test['ID']
x_train = x_train.drop(columns=['ID'], axis = 1)
x_test = x_test.drop(columns=['ID'], axis = 1)

In [6]:
# 범주형, 수치형 변수확인
obj = x_train.select_dtypes(include = 'object').columns
num = x_train.select_dtypes(include = 'number').columns
print(obj)
print(num)

Index(['LOCATION_ID'], dtype='object')
Index(['Sector_score', 'PARA_A', 'Score_A', 'Risk_A', 'PARA_B', 'Score_B',
       'Risk_B', 'TOTAL', 'numbers', 'Score_B.1', 'Risk_C', 'Money_Value',
       'Score_MV', 'Risk_D', 'District_Loss', 'PROB', 'RiSk_E', 'History',
       'Prob', 'Risk_F', 'Score', 'Inherent_Risk', 'CONTROL_RISK',
       'Detection_Risk', 'Audit_Risk'],
      dtype='object')

In [7]:
# 범주형 변수 처리
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
x_train['LOCATION_ID'] = encoder.fit_transform(x_train['LOCATION_ID'])
x_test['LOCATION_ID'] = encoder.fit_transform(x_test['LOCATION_ID'])

In [8]:
# 수치형 변수 전처리
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

In [9]:
# 데이터 분리
from sklearn.model_selection import train_test_split
X_TRAIN, X_TEST, Y_TRAIN, Y_TEST = train_test_split(x_train, y_train['Risk'], test_size = 0.3, random_state = 1234)

In [10]:
# 모델링
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_TRAIN, Y_TRAIN)
Y_TESR_PRED = model.predict_proba(X_TEST)[:,1]

In [11]:
# 평가
from sklearn.metrics import roc_auc_score
print(roc_auc_score(Y_TEST, Y_TESR_PRED))

1.0

In [12]:
# 최종제출
y_test_pred = model.predict_proba(x_test)[:,1]
result = pd.DataFrame(y_test_pred)
final = pd.concat([x_test_ID, result], axis = 1).rename(columns = {0:'Risk'})
final.to_csv('123456.csv', index = False)

In [13]:
# 제출확인
check = pd.read_csv('123456.csv')
print(check)

      ID  Risk
0      1  0.93
1      9  0.46
2     10  0.13
3     11  0.00
4     12  0.00
..   ...   ...
151  759  0.17
152  762  1.00
153  763  1.00
154  765  0.01
155  772  1.00

[156 rows x 2 columns]