## 빅데이터분석기사 작업형 2

킹카운티 주거지 가격예측문제 데이터
- 데이터 설명 : 킹카운티 주거지 가격 예측문제 (종속변수 :price)
- x_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice/x_train.csv
- y_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice/y_train.csv
- x_test: https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice/x_test.csv
- x_label(평가용) : https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice/y_test.csv
- 데이터 출처 :https://www.kaggle.com/harlfoxem/housesalesprediction (참고, 데이터 수정)

In [1]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice/x_test.csv")

display(x_train.head())
display(y_train.head())

,ID,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,2,8651400730,20150428T000000,3,1.00,840,5525,1.0,0,0,...,6,840,0,1969,0,98042,47.3607,-122.085,920,5330
1,3,3163600130,20150317T000000,3,1.00,1250,8000,1.0,0,0,...,7,1250,0,1956,0,98146,47.5065,-122.337,1040,6973
2,4,5045700330,20140725T000000,4,2.50,2200,6400,2.0,0,0,...,8,2200,0,2010,0,98059,47.4856,-122.156,2600,5870
3,5,1036100130,20140808T000000,3,2.50,1980,39932,2.0,0,0,...,8,1980,0,1994,0,98011,47.7433,-122.196,2610,12769
4,6,7696630080,20140506T000000,3,1.75,1690,7735,1.0,0,0,...,7,1060,630,1976,0,98001,47.3324,-122.280,1580,7503

   ID     price
0   2  191000.0
1   3  234900.0
2   4  460000.0
3   5  442000.0
4   6  197000.0

In [2]:
# 결측치 확인
print(x_train.isna().sum())
print(x_test.isna().sum())

ID               0
id               0
date             0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64
ID               0
id               0
date             0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [3]:
# 불필요한 컬럼제거
x_test_ID = x_test['ID']
x_train = x_train.drop(columns  = ['ID'], axis =1)
x_test = x_test.drop(columns  = ['ID'], axis =1)

In [4]:
# 범주형 수치형 변수파악
obj = x_train.select_dtypes(include = 'object').columns
num = x_train.select_dtypes(include = 'number').columns
print(obj)
print(num)

Index(['date'], dtype='object')
Index(['id', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [5]:
# 범주형 변수 전처리
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
x_train['date'] = encoder.fit_transform(x_train['date'])
x_test['date'] = encoder.fit_transform(x_test['date'])

In [6]:
# 수치형 변수 전처리
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

In [7]:
# 데이터 분리
from sklearn.model_selection import train_test_split
X_TRAIN,X_TEST,Y_TRAIN,Y_TEST = train_test_split(x_train, y_train['price'], test_size = 0.3, random_state = 1234)

In [8]:
# 모델링
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(X_TRAIN, Y_TRAIN)
Y_TEST_PRED = model.predict(X_TEST)

In [9]:
# 평가
from sklearn.metrics import r2_score
print(r2_score(Y_TEST, Y_TEST_PRED))

0.8844858489515506

In [10]:
# 최종제출
y_test_pred = model.predict(x_test)
result = pd.DataFrame(y_test_pred)
result = result.rename(columns = {0:'price'})
result.to_csv('123456.csv', index= False)

In [12]:
# 재출확인
check = pd.read_csv('123456.csv')
print(check)

           price
0      354543.94
1      489566.14
2      368557.78
3      470880.32
4      521179.57
...          ...
4318  1763007.20
4319   470094.03
4320   301432.09
4321   409347.65
4322   437937.05

[4323 rows x 1 columns]