## 빅데이터분석기사 작업형 2

서비스 이탈예측 데이터
- 데이터 설명 : 고객의 신상정보 데이터를 통한 회사 서비스 이탈 예측 (종속변수 : Exited)
- x_train : https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/X_train.csv
- y_train : https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/y_train.csv
- x_test : https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/X_test.csv
- x_label(평가용) : https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/y_test.csv
- 데이터 출처 : https://www.kaggle.com/shubh0799/churn-modelling 에서 변형

In [1]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/X_test.csv")


display(x_train.head())
display(y_train.head())

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,15799217,Zetticci,791,Germany,Female,35,7,52436.20,1,1,0,161051.75
1,15748986,Bischof,705,Germany,Male,42,8,166685.92,2,1,1,55313.51
2,15722004,Hsiung,543,France,Female,31,4,138317.94,1,0,0,61843.73
3,15780966,Pritchard,709,France,Female,32,2,0.00,2,0,0,109681.29
4,15636731,Ts'ai,714,Germany,Female,36,1,101609.01,2,1,1,447.73

   CustomerId  Exited
0    15799217       0
1    15748986       0
2    15722004       0
3    15780966       0
4    15636731       0

In [2]:
#결측치 파악
print(x_train.isna().sum())
print(x_test.isna().sum())

CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
dtype: int64
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
dtype: int64

In [3]:
#불필요한 컬럼 제거
x_test_CustomerId = x_test['CustomerId']
x_train = x_train.drop(columns=['CustomerId'], axis=1)
x_test = x_test.drop(columns=['CustomerId'], axis=1)

In [4]:
# 범주형(object), 수치형(number) 변수 파악
obj = x_train.select_dtypes(include = 'object').columns
num = x_train.select_dtypes(include = 'number').columns
print(obj)
print(num)

Index(['Surname', 'Geography', 'Gender'], dtype='object')
Index(['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary'],
      dtype='object')

In [5]:
# 범주형 변수(object) 전처리
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

x_train['Surname'] = encoder.fit_transform(x_train['Surname'])
x_train['Geography'] = encoder.fit_transform(x_train['Geography'])
x_train['Gender'] = encoder.fit_transform(x_train['Gender'])

x_test['Surname'] = encoder.fit_transform(x_test['Surname'])
x_test['Geography'] = encoder.fit_transform(x_test['Geography'])
x_test['Gender'] = encoder.fit_transform(x_test['Gender'])

In [6]:
# 수치형 변수(number) 전처리
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

In [7]:
# 모델링을 위해 데이터분리(data split)
from sklearn.model_selection import train_test_split
X_TRAIN, X_TEST, Y_TRAIN, Y_TEST = train_test_split(x_train, y_train['Exited'], test_size = 0.3, random_state = 1234)

In [8]:
# 모델링
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()
model.fit(X_TRAIN, Y_TRAIN)
Y_TEST_PRED = model.predict_proba(X_TEST)[:,1]

In [9]:
# 평가
from sklearn.metrics import roc_auc_score
print(roc_auc_score(Y_TEST, Y_TEST_PRED))

0.835364311327352

In [10]:
#최종제출
y_test_pred = model.predict_proba(x_test)[:,1]
result = pd.DataFrame(y_test_pred)
result = result.rename(columns = {0:'Exited'})
# print(result)
result.to_csv('123456.csv', index = False)

In [12]:
#제출확인
check = pd.read_csv('123456.csv')
print(check)

      Exited
0       0.79
1       0.91
2       0.11
3       0.12
4       0.26
...      ...
3496    0.56
3497    0.08
3498    0.92
3499    0.02
3500    0.02

[3501 rows x 1 columns]