## 빅데이터분석기사 작업형 2

중고차 가격 예측 데이터
- 데이터 설명 : 중고차 가격 예측 데이터 (종속변수 :G3)
- x_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/X_train.csv
- y_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/y_train.csv
- x_test: https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/X_test.csv
- x_label(평가용) : https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/y_test.csv
- 데이터 출처 :https://www.kaggle.com/datasets/adityadesai13/used-car-dataset-ford-and-mercedes?select=vw.csv (참고, 데이터 수정)

In [1]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/X_test.csv")

display(x_train.head())
display(y_train.head())

,carID,brand,model,year,transmission,mileage,fuelType,tax,mpg,engineSize
0,13207,hyundi,Santa Fe,2019,Semi-Auto,4223,Diesel,145.0,39.8,2.2
1,17314,vauxhall,GTC,2015,Manual,47870,Diesel,125.0,60.1,2.0
2,12342,audi,RS4,2019,Automatic,5151,Petrol,145.0,29.1,2.9
3,13426,vw,Scirocco,2016,Automatic,20423,Diesel,30.0,57.6,2.0
4,16004,skoda,Scala,2020,Semi-Auto,3569,Petrol,145.0,47.1,1.0

   carID  price
0  13207  31995
1  17314   7700
2  12342  58990
3  13426  12999
4  16004  16990

In [2]:
# 결측치 확인
print(x_train.isna().sum())
print(x_test.isna().sum())

carID           0
brand           0
model           0
year            0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64
carID           0
brand           0
model           0
year            0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

In [3]:
# 불필요한 컬럼 제거
x_test_carID = x_test['carID']
x_train = x_train.drop(columns = ['carID'], axis =1)
x_test = x_test.drop(columns = ['carID'], axis =1)

In [4]:
# 범주형, 수치형 확인
obj = x_train.select_dtypes(include = 'object').columns
num = x_train.select_dtypes(include = 'number').columns

print(obj)
print(num)

Index(['brand', 'model', 'transmission', 'fuelType'], dtype='object')
Index(['year', 'mileage', 'tax', 'mpg', 'engineSize'], dtype='object')

In [5]:
# 범주형 변수 전처리
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
x_train['brand'] = encoder.fit_transform(x_train['brand'])
x_train['model'] = encoder.fit_transform(x_train['model'])
x_train['transmission'] = encoder.fit_transform(x_train['transmission'])
x_train['fuelType'] = encoder.fit_transform(x_train['fuelType'])

x_test['brand'] = encoder.fit_transform(x_test['brand'])
x_test['model'] = encoder.fit_transform(x_test['model'])
x_test['transmission'] = encoder.fit_transform(x_test['transmission'])
x_test['fuelType'] = encoder.fit_transform(x_test['fuelType'])

In [6]:
# 수치형 변수 전처리
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

In [7]:
# 데이터 분리
from sklearn.model_selection import train_test_split
X_TRAIN,X_TEST,Y_TRAIN,Y_TEST = train_test_split(x_train, y_train['price'],test_size = 0.3, random_state = 1234)

In [8]:
# 모델링
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(X_TRAIN, Y_TRAIN)
Y_TEST_PRED = model.predict(X_TEST)

In [9]:
# 평가
from sklearn.metrics import r2_score
print(r2_score(Y_TEST, Y_TEST_PRED))

0.947405553035791

In [12]:
# 최종제출
y_test_pred = model.predict(x_test)
result = pd.DataFrame(y_test_pred)
result = result.rename(columns = {0:'price'})
result.to_csv('123456.csv',index = False)

In [13]:
# 제출확인
check = pd.read_csv('123456.csv')
print(check)

         price
0     39973.66
1     23915.47
2     53023.96
3     15951.64
4     52138.27
...        ...
2667  34475.75
2668  20535.96
2669  20609.77
2670  23797.18
2671   2952.39

[2672 rows x 1 columns]