## 빅데이터분석기사 작업형 1

https://www.datamanim.com/dataset/03_dataq/typeone.html

(1) 유튜브 인기동영상 데이터

In [2]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

Q. 인기동영상 제작횟수가 많은 채널 상위 10개명을 출력하라 (날짜기준, 중복포함)

In [4]:
dd1 = df.channelTitle.value_counts().index[0:9]
dd1

Index(['짤툰', '파뿌리', 'SPOTV', '런닝맨 - 스브스 공식 채널', '엠뚜루마뚜루 : MBC 공식 종합 채널', '장삐쭈',
       'BANGTANTV', '채널 십오야', '이과장'],
      dtype='object')

Q. 논란으로 인기동영상이 된 케이스를 확인하고 싶다. dislikes수가 like 수보다 높은 동영상을 제작한 채널을 모두 출력하라

In [5]:
dd1 = df[df.dislikes > df.likes].channelTitle.unique()
dd1

array(['핫도그TV', 'ASMR 애정TV', '하얀트리HayanTree', '양팡 YangPang',
       '철구형 (CHULTUBE)', '왜냐맨하우스', '(MUTUBE)와꾸대장봉준', '오메킴TV', '육지담',
       'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', '사나이 김기훈',
       '나혼자산다 STUDIO', 'Gen.G esports'], dtype=object)

Q. 채널명을 바꾼 케이스가 있는지 확인하고 싶다. channelId의 경우 고유값이므로 이를 통해 채널명을 한번이라도 바꾼 채널의 갯수를 구하여라

In [7]:
dd1 = df[['channelTitle', 'channelId']].drop_duplicates().channelId.value_counts()
dd2 = len(dd1[dd1>1])
dd2

71

Q. 일요일에 인기있었던 영상들중 가장많은 영상 종류(categoryId)는 무엇인가?

In [8]:
df['trending_date2'] = pd.to_datetime(df['trending_date2'])
dd1 = df[df.trending_date2.dt.day_name() == 'Sunday'].categoryId.value_counts().index[0]
dd1

24

Q. 각 요일별 인기 영상들의 categoryId는 각각 몇개 씩인지 하나의 데이터 프레임으로 표현하라

In [9]:
dd1 = df.groupby([df['trending_date2'].dt.day_name(), 'categoryId'], as_index = False).size()
dd2 = dd1.pivot(index = 'categoryId', columns = 'trending_date2')
dd2

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

Q. 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다. viewcount대비 댓글수가 가장 높은 영상을 확인하라 (view_count값이 0인 경우는 제외한다)

In [10]:
dd1 = df[df.view_count != 0]
dd1['ratio'] = dd1['comment_count'] / dd1['view_count']
dd2 = dd1.sort_values(by = 'ratio', ascending = False).title.values[0]
dd2

C:\Users\user\AppData\Local\Temp\ipykernel_29988\2859612084.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dd1['ratio'] = dd1['comment_count'] / dd1['view_count']

'60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)'

Q. 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다.viewcount대비 댓글수가 가장 낮은 영상을 확인하라 (view_counts, ratio값이 0인경우는 제외한다.)

In [11]:
dd1 = df[df.view_count != 0]
dd1['ratio'] = dd1['comment_count'] / dd1['view_count']
dd2 = dd1[dd1.ratio != 0]
dd3 = dd2.sort_values(by ='ratio').title.values[0] 
dd3

C:\Users\user\AppData\Local\Temp\ipykernel_29988\981113920.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dd1['ratio'] = dd1['comment_count'] / dd1['view_count']

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

Q. like 대비 dislike의 수가 가장 적은 영상은 무엇인가? (like, dislike 값이 0인경우는 제외한다)

In [12]:
dd1 = df[(df.dislikes != 0) & (df.likes != 0)]
dd1['ratio'] = dd1['dislikes'] / dd1['likes']
dd2 = dd1.sort_values(by ='ratio').title.values[0]
dd2

C:\Users\user\AppData\Local\Temp\ipykernel_29988\1750917044.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dd1['ratio'] = dd1['dislikes'] / dd1['likes']

'[줌터뷰] *최초공개* 사부작즈🐰🐶의 비공식 이름은 아이라인즈? 꿀조합 티키타카 가득한 NCT 127 도영&정우의 줌터뷰'

Q. 가장많은 트렌드 영상을 제작한 채널의 이름은 무엇인가? (날짜기준, 중복포함)

In [13]:
dd1 = df[df.channelId == df.channelId.value_counts().index[0]].channelTitle.unique()
dd1

array(['짤툰'], dtype=object)

Q. 20회(20일)이상 인기동영상 리스트에 포함된 동영상의 숫자는?

In [14]:
dd1 = (df[['title','channelId']].value_counts()>=20).sum()
dd1

40

---

(2) 유튜브 공범컨텐츠 동영상 데이터

In [15]:
import pandas as pd

channel =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')
display(channel.head())
display(video.head())

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,꽈뚜룹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,꽈뚜룹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,꽈뚜룹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,꽈뚜룹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,꽈뚜룹

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1

Q. 각 데이터의 ‘ct’컬럼을 시간으로 인식할수 있게 datatype을 변경하고 video 데이터의 videoname의 각 value 마다 몇개의 데이터씩 가지고 있는지 확인하라

In [16]:
channel['ct'] = pd.to_datetime(channel['ct'])
video['ct'] = pd.to_datetime(video['ct'])
dd1 = video['videoname'].value_counts()
dd1

 공범 EP1    3492
 공범 EP2    3204
 공범 EP3    2568
 공범 EP4    2280
 공범 EP5    1562
 공범 EP6    1274
 공범 EP7     555
 공범 EP8     266
Name: videoname, dtype: int64

Q. 수집된 각 video의 가장 최신화 된 날짜의 viewcount값을 출력하라

In [17]:
dd1 = video.sort_values(['videoname','ct']).drop_duplicates('videoname',keep='last')[['viewcnt','videoname','ct']]
dd1

       viewcnt videoname                  ct
3491   3180532    공범 EP1 2021-11-01 15:30:03
6695   2199328    공범 EP2 2021-11-01 15:30:03
9263   1671294    공범 EP3 2021-11-01 15:30:03
11543  1818493    공범 EP4 2021-11-01 15:30:03
13105  1503435    공범 EP5 2021-11-01 15:30:04
14934  1750222    공범 EP6 2021-11-01 15:30:04
13660  1630200    공범 EP7 2021-11-01 15:30:05
15200  1289088    공범 EP8 2021-11-01 15:30:05

Q. Channel 데이터중 2021-10-03일 이후 각 채널의 처음 기록 됐던 구독자 수(subcnt)를 출력하라

In [18]:
dd1 = channel[channel.ct > pd.to_datetime('2021-10-03')].sort_values(['ct','channelname']).drop_duplicates('channelname')
dd2 = dd1[['channelname','subcnt']].reset_index(drop=True)
dd2

        channelname   subcnt
0            논리왕 전기   922000
1             야전삽짱재   257000
2        츄정ChuJeong   322000
3        김농밀의 농밀한 삶     7520
4       릴펄 Lilpearl    10100
5   와글와글 WagleWagle    55000
6               조나단   215000
7           형사!탐정되다    14900
8     Balming Tiger    54300
9     곽토리 kwak tori   471000
10              꽈뚜룹  1330000

Q. 각채널의 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 까지 구독자수 (subcnt) 의 증가량을 구하여라

In [19]:
end = channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H') =='2021-11-01 15']
start = channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H') =='2021-10-03 03']
end_df = end[['channelname','subcnt']].reset_index(drop=True)
start_df = start[['channelname','subcnt']].reset_index(drop=True)
end_df.columns = ['channelname','end_sub']
start_df.columns = ['channelname','start_sub']
tt = pd.merge(start_df,end_df)
tt['del'] = tt['end_sub'] - tt['start_sub']
result = tt[['channelname','del']]
display(result)

        channelname    del
0               꽈뚜룹  70000
1             야전삽짱재  11000
2        츄정ChuJeong   1000
3            논리왕 전기 -11000
4   와글와글 WagleWagle      0
5               조나단  12000
6           형사!탐정되다  10300
7        김농밀의 농밀한 삶   1540
8       릴펄 Lilpearl  11000
9     곽토리 kwak tori  -2000
10    Balming Tiger   2500

Q. 각 비디오는 10분 간격으로 구독자수, 좋아요, 싫어요수, 댓글수가 수집된것으로 알려졌다. 공범 EP1의 비디오정보 데이터중 수집간격이 5분 이하, 20분이상인 데이터 구간( 해당 시점 전,후) 의 시각을 모두 출력하라

In [20]:
import datetime
ep_one = video.loc[video.videoname.str.contains('1')].sort_values('ct').reset_index(drop=True)
ep_one[
        (ep_one.ct.diff(1) >=datetime.timedelta(minutes=20)) | \
        (ep_one.ct.diff(1) <=datetime.timedelta(minutes=5))
      
      ]
answer = ep_one[ep_one.index.isin([720,721,722,723,1635,1636,1637])]
display(answer)

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,공범 EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,공범 EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,공범 EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,공범 EP1
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,공범 EP1

Q. 각 에피소드의 시작날짜(년-월-일)를 에피소드 이름과 묶어 데이터 프레임으로 만들고 출력하라

In [21]:
dd1 = video.sort_values(['ct', 'videoname']).drop_duplicates('videoname')[['ct','videoname']]
dd1['date'] = dd1.ct.dt.date
dd2 = dd1[['date','videoname']]
dd2

             date videoname
10     2021-10-07    공범 EP1
3496   2021-10-09    공범 EP2
6696   2021-10-14    공범 EP3
9264   2021-10-16    공범 EP4
11544  2021-10-21    공범 EP5
13661  2021-10-23    공범 EP6
13106  2021-10-28    공범 EP7
14935  2021-10-30    공범 EP8

Q. “공범” 컨텐츠의 경우 19:00시에 공개 되는것으로 알려져있다. 공개된 날의 21시의 viewcnt, ct, videoname 으로 구성된 데이터 프레임을 viewcnt를 내림차순으로 정렬하여 출력하라

In [23]:
video['time'] = video.ct.dt.hour
dd1 = video[video['time'] == 21].sort_values(['videoname','ct']).drop_duplicates('videoname').sort_values('viewcnt',ascending = False)[['videoname','viewcnt','ct']].reset_index(drop=True)
dd1

  videoname  viewcnt                  ct
0    공범 EP8   264029 2021-10-30 21:00:08
1    공범 EP7   252032 2021-10-28 21:00:04
2    공범 EP4   217674 2021-10-16 21:00:04
3    공범 EP6   213899 2021-10-23 21:00:06
4    공범 EP5   201179 2021-10-21 21:00:04
5    공범 EP2   148144 2021-10-09 21:00:03
6    공범 EP3   147183 2021-10-14 21:00:04
7    공범 EP1   117340 2021-10-07 21:00:03

Q. video 정보의 가장 최근 데이터들에서 각 에피소드의 싫어요/좋아요 비율을 ratio 컬럼으로 만들고 videoname, ratio로 구성된 데이터 프레임을 ratio를 오름차순으로 정렬하라

In [24]:
dd1 = video.sort_values('ct').drop_duplicates('videoname', keep='last')
dd1['ratio'] = dd1['dislikecnt'] /dd1['likecnt']
dd2 = dd1.sort_values(by ='ratio')[['videoname','ratio']]
dd2

      videoname     ratio
13660    공범 EP7  0.013636
14934    공범 EP6  0.015881
11543    공범 EP4  0.017971
13105    공범 EP5  0.021128
9263     공범 EP3  0.022360
3491     공범 EP1  0.027118
6695     공범 EP2  0.029844
15200    공범 EP8  0.141357

Q. 2021-11-01 00:00:00 ~ 15:00:00까지 각 에피소드별 viewcnt의 증가량을 데이터 프레임으로 만드시오

In [25]:
start = pd.to_datetime('2021-11-01 00:00:00')
end = pd.to_datetime('2021-11-01 15:00:00')
dd1 = video[(video['ct'] >= start) & (video['ct']<=end)]
def check(x):
  result = max(x) - min(x)
  return result
dd2 = dd1[['videoname','viewcnt']].groupby('videoname').agg(check)
dd2

           viewcnt
videoname
 공범 EP1      13298
 공범 EP2      10300
 공범 EP3       9927
 공범 EP4       9824
 공범 EP5      10824
 공범 EP6      14141
 공범 EP7      26949
 공범 EP8      89147

Q. video 데이터 중에서 중복되는 데이터가 존재한다. 중복되는 각 데이터의 시간대와 videoname 을 구하여라

In [26]:
dd1 = video[video.index.isin(set(video.index) - set(video.drop_duplicates().index))]
dd2 = dd1[['videoname','ct']]
dd2

     videoname                  ct
722     공범 EP1 2021-10-13 09:41:37
3927    공범 EP2 2021-10-13 09:41:37

---

(3) 월드컵 출전선수 골기록 데이터

In [27]:
import pandas as pd

df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

Q. 주어진 전체 기간의 각 나라별 골득점수 상위 5개 국가와 그 득점수를 데이터프레임형태로 출력하라

In [28]:
dd1 = df.groupby('Country').sum().sort_values('Goals',ascending =False).head(5)
dd1

C:\Users\user\AppData\Local\Temp\ipykernel_29988\4176849110.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dd1 = df.groupby('Country').sum().sort_values('Goals',ascending =False).head(5)

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

Q. 주어진 전체기간동안 골득점을 한 선수가 가장 많은 나라 상위 5개 국가와 그 선수 숫자를 데이터 프레임 형식으로 출력하라

In [29]:
dd1 = df.groupby('Country').size().sort_values(ascending = False).head(5)
dd1

Country
Brazil       81
Germany      78
Italy        60
Argentina    59
France       58
dtype: int64

Q. Years 컬럼은 년도 -년도 형식으로 구성되어있고, 각 년도는 4자리 숫자이다. 년도 표기가 4자리 숫자로 안된 케이스가 존재한다. 해당 건은 몇건인지 출력하라

In [30]:
df['yearlst'] = df.Years.str.split('-')
def check(x) : 
  for value in x:
    if len(str(value)) != 4:
      return False
  return True
df['check'] = df['yearlst'].apply(check)
dd1 = len(df[df.check==False])
dd1

45

Q. 위에서 발생한 예외 케이스를 제외한 데이터프레임을 df2라고 정의하고 데이터의 행의 숫자를 출력하라 (아래 문제부터는 df2로 풀이)

In [31]:
df2 = df[df.check == True]
print(df2.shape[0])

1250

Q. 월드컵 출전횟수를 나타내는 ‘LenCup’ 컬럼을 추가하고 4회 출전한 선수의 숫자를 구하여라

In [32]:
df2['lencup'] = df2['yearlst'].str.len()
dd1 = df2['lencup'].value_counts()[4]
dd1

C:\Users\user\AppData\Local\Temp\ipykernel_29988\1799864513.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['lencup'] = df2['yearlst'].str.len()

16

Q. Yugoslavia 국가의 월드컵 출전횟수가 2회인 선수들의 숫자를 구하여라

In [34]:
dd1 = len(df2[(df2.Country == 'Yugoslavia') & (df2.lencup == 2)].Player)
dd1

7

Q. 2002년도에 출전한 전체 선수는 몇명인가?

In [35]:
dd1 = len(df2[df2.Years.str.contains('2002')])
dd1

156

Q. 이름에 ‘carlos’ 단어가 들어가는 선수의 숫자는 몇 명인가? (대, 소문자 구분 x)

In [36]:
dd1 = len(df2[df2.Player.str.lower().str.contains('carlos')])
dd1

13

Q. 월드컵 출전 횟수가 1회뿐인 선수들 중에서 가장 많은 득점을 올렸던 선수는 누구인가?

In [37]:
dd1 = df2[df2.lencup == 1].sort_values('Goals',ascending = False).Player.values[0]
dd1

'Just Fontaine'

Q. 월드컵 출전횟수가 1회 뿐인 선수들이 가장 많은 국가는 어디인가?

In [38]:
dd1 = df2[df2.lencup==1].Country.value_counts().index[0]
dd1

'Brazil'

---

(4) 서울시 따릉이 이용정보 데이터

In [39]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv')
df.head()

         대여일자  대여시간  대여소번호 대여구분코드 성별 연령대코드  이용건수    운동량   탄소량     이동거리  사용시간
0  2021-06-01     0   3541    정기권  F  ~10대     1   0.00  0.00     0.00     8
1  2021-06-01     0    765    정기권  F  ~10대     1  27.21  0.35  1526.81    19
2  2021-06-01     0   2637    정기권  F  ~10대     1  41.40  0.37  1608.56    18
3  2021-06-01     0   2919    정기권  F  ~10대     1   0.00  0.00     0.00    75
4  2021-06-01     0    549    정기권  F  ~10대     1  13.04  0.17   731.55     6

Q. 대여일자별 데이터의 수를 데이터프레임으로 출력하고, 가장 많은 데이터가 있는 날짜를 출력하라

In [40]:
dd1 = df['대여일자'].value_counts().sort_index().to_frame()
dd2 = dd1[dd1.대여일자 == dd1.대여일자.max()].index[0]
dd2

'2021-06-04'

Q. 각 일자의 요일을 표기하고 (‘Monday’ ~’Sunday’) ‘day_name’컬럼을 추가하고 이를 이용하여 각 요일별 이용 횟수의 총합을 데이터 프레임으로 출력하라

In [41]:
df['대여일자'] = pd.to_datetime(df['대여일자'])
df['day_name'] = df.대여일자.dt.day_name()
dd1 = df.day_name.value_counts().to_frame()
dd1

           day_name
Wednesday    110607
Friday       108877
Monday       107568
Tuesday      103704
Saturday     101299
Sunday        90918
Thursday      55977

Q. 각 요일별 가장 많이 이용한 대여소의 이용횟수와 대여소 번호를 데이터 프레임으로 출력하라

In [42]:
dd1 = df.groupby(['day_name','대여소번호']).size().to_frame('size').sort_values(['day_name','size'],ascending = False).reset_index()
dd2 = dd1.drop_duplicates('day_name', keep='first')
dd2

        day_name  대여소번호  size
0      Wednesday    502   282
2402     Tuesday    502   267
4801    Thursday   2715   137
7197      Sunday    502   372
9611    Saturday    502   378
12031     Monday    502   242
14453     Friday    502   277

Q. 나이대별 대여구분 코드의 (일일권/전체횟수) 비율을 구한 후 가장 높은 비율을 가지는 나이대를 확인하라. 일일권의 경우 일일권 과 일일권(비회원)을 모두 포함하라

In [43]:
daily = df[df.대여구분코드.isin(['일일권','일일권(비회원)'])].연령대코드.value_counts()
total = df.연령대코드.value_counts()
ratio = (daily/total).sort_values(ascending = False)
print(ratio.index[0])

~10대

Q. 연령대별 평균 이동거리를 구하여라

In [44]:
dd1 = df[['연령대코드','이동거리']].groupby('연령대코드').mean()
dd1

              이동거리
연령대코드
20대    3211.890552
30대    3341.443859
40대    3514.857416
50대    3593.668100
60대    3538.145737
70대~   3085.039641
~10대   2634.426279

Q. 연령대 코드가 20대인 데이터를 추출하고,이동거리값이 추출한 데이터의 이동거리값의 평균 이상인 데이터를 추출한다.
   최종 추출된 데이터를 대여일자, 대여소 번호 순서로 내림차순 정렬 후 1행부터 200행까지의 탄소량의 평균을 소숫점 3째 자리까지 구하여라

In [45]:
dd1 = df[df.연령대코드 == '20대']
dd2 = dd1[dd1.이동거리 >= dd1.이동거리.mean()]
dd2['탄소량'] = dd2['탄소량'].astype('float')
dd3 = dd2.sort_values(['대여일자','대여소번호'],ascending = False).iloc[:200].탄소량
dd4 = round(dd3.sum()/len(dd3),3)
dd4

C:\Users\user\AppData\Local\Temp\ipykernel_29988\461841631.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dd2['탄소량'] = dd2['탄소량'].astype('float')

1.613

Q. 6월 7일 ~10대의 “이용건수”의 중앙값은?

In [46]:
dd1 = df[(df.대여일자 == pd.to_datetime('2021-06-07')) & (df.연령대코드 == '~10대')].median()['이용건수']
dd1

C:\Users\user\AppData\Local\Temp\ipykernel_29988\4089387875.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  dd1 = df[(df.대여일자 == pd.to_datetime('2021-06-07')) & (df.연령대코드 == '~10대')].median()['이용건수']
C:\Users\user\AppData\Local\Temp\ipykernel_29988\4089387875.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dd1 = df[(df.대여일자 == pd.to_datetime('2021-06-07')) & (df.연령대코드 == '~10대')].median()['이용건수']

1.0

Q. 평일 (월~금) 출근 시간대(오전 6,7,8시)의 대여소별 이용 횟수를 구해서 데이터 프레임 형태로 표현한 후 각 대여시간별 이용 횟수의 상위 3개 대여소와 이용횟수를 출력하라

In [47]:
dd1 = df[(df.day_name.isin(['Tuesday', 'Wednesday', 'Thursday', 'Friday','Monday']) & (df.대여시간.isin([6,7,8])))]
dd2 = dd1.groupby(['대여시간','대여소번호']).size().to_frame('이용횟수')
dd3 = dd2.sort_values(['대여시간','이용횟수'], ascending = False).groupby('대여시간').head(3)
dd3

            이용횟수
대여시간 대여소번호
8    2701    119
     646     115
     1152     92
7    259     104
     230      77
     726      77
6    2744     45
     1125     40
     1028     36

Q. 이동거리의 평균 이상의 이동거리 값을 가지는 데이터를 추출하여 추출데이터의 이동거리의 표본표준편차 값을 구하여라

In [48]:
dd1 = df[df.이동거리 >= df.이동거리.mean()].std()['이동거리']
dd1

C:\Users\user\AppData\Local\Temp\ipykernel_29988\3704176046.py:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dd1 = df[df.이동거리 >= df.이동거리.mean()].std()['이동거리']

5092.139707505305

Q. 남성(‘M’ or ‘m’)과 여성(‘F’ or ‘f’)의 이동거리값의 평균값을 구하여라

In [49]:
df['sex'] = df['성별'].map(lambda x : '남' if x in ['m','M'] else '여')
dd1 = df[['sex', '이동거리']].groupby('sex').mean()
dd1

            이동거리
sex
남    3209.110871
여    3468.575025

---

(5) 전세계 행복도 지표 데이터

In [50]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv',encoding='utf-8')
df.head()

,행복랭킹,나라명,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

Q. 데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 각년도의 행복랭킹 10위를 차지한 나라의 행복점수의 평균을 구하여라

In [51]:
dd1 = df[df.행복랭킹 == 10].mean()['점수']
dd1

C:\Users\user\AppData\Local\Temp\ipykernel_29988\3919307934.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dd1 = df[df.행복랭킹 == 10].mean()['점수']

7.259

Q. 데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 각년도의 행복랭킹 50위이내의 나라들의 각각의 행복점수 평균을 데이터프레임으로 표시하라

In [52]:
dd1 = df[df.행복랭킹 <= 50][['년도','점수']].groupby('년도').mean()
dd1

           점수
년도
2018  6.64678
2019  6.67002

Q. 2018년도 데이터들만 추출하여 행복점수와 부패에 대한 인식에 대한 상관계수를 구하여라

In [53]:
dd1 = df[df.년도 == 2018][['점수','부패에 대한인식']].corr().iloc[0,1]
dd1

0.40529152271510027

Q. 2018년도와 2019년도의 행복랭킹이 변화하지 않은 나라명의 수를 구하여라

In [54]:
dd1 = len(df[['행복랭킹','나라명']]) - len(df[['행복랭킹','나라명']].drop_duplicates())
dd1

15

Q. 2019년도 데이터들만 추출하여 각변수간 상관계수를 구하고 내림차순으로 정렬한 후 상위 5개를 데이터 프레임으로 출력하라. 컬럼명은 v1,v2,corr으로 표시하라

In [55]:
zz = df[df.년도 ==2019].corr().unstack().to_frame().reset_index().dropna()
result = zz[zz[0] !=1].sort_values(0,ascending=False).drop_duplicates(0)
answer = result.head(5).reset_index(drop=True)
answer.columns = ['v1','v2','corr']
display(answer)

C:\Users\user\AppData\Local\Temp\ipykernel_29988\3038175294.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  zz = df[df.년도 ==2019].corr().unstack().to_frame().reset_index().dropna()

      v1     v2      corr
0  행복기대치  상대GDP  0.835462
1  상대GDP     점수  0.793883
2  행복기대치     점수  0.779883
3  사회적지원     점수  0.777058
4  사회적지원  상대GDP  0.754906

Q. 각 년도별 하위 행복점수의 하위 5개 국가의 평균 행복점수를 구하여라

In [56]:
dd1 = df.groupby('년도').tail(5).groupby('년도').mean()['점수']
dd1

C:\Users\user\AppData\Local\Temp\ipykernel_29988\353013241.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dd1 = df.groupby('년도').tail(5).groupby('년도').mean()['점수']

년도
2018    3.1800
2019    3.1408
Name: 점수, dtype: float64

Q. 2019년 데이터를 추출하고 해당데이터의 상대 GDP 평균 이상의 나라들과 평균 이하의 나라들의 행복점수 평균을 각각 구하고 그 차이값을 출력하라

In [57]:
dd1 = df[df.년도 == 2019]
dd2 = dd1[dd1.상대GDP >= dd1.상대GDP.mean()].mean()['점수']
dd3 = dd1[dd1.상대GDP <= dd1.상대GDP.mean()].mean()['점수']
dd4 = dd2-dd3
dd4

C:\Users\user\AppData\Local\Temp\ipykernel_29988\1051322784.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dd2 = dd1[dd1.상대GDP >= dd1.상대GDP.mean()].mean()['점수']
C:\Users\user\AppData\Local\Temp\ipykernel_29988\1051322784.py:3: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dd3 = dd1[dd1.상대GDP <= dd1.상대GDP.mean()].mean()['점수']

1.390483957219251

Q. 각년도의 부패에 대한인식을 내림차순 정렬했을때 상위 20개 국가의 부패에 대한인식의 평균을 구하여라

In [58]:
dd1 = df.sort_values(['년도','부패에 대한인식'], ascending = False).groupby('년도').head(20).groupby('년도').mean()['부패에 대한인식']
dd1

C:\Users\user\AppData\Local\Temp\ipykernel_29988\2494631963.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dd1 = df.sort_values(['년도','부패에 대한인식'], ascending = False).groupby('년도').head(20).groupby('년도').mean()['부패에 대한인식']

년도
2018    0.3267
2019    0.3201
Name: 부패에 대한인식, dtype: float64

Q. 2018년도 행복랭킹 50위 이내에 포함됐다가 2019년 50위 밖으로 밀려난 국가의 숫자를 구하여라

In [59]:
dd1 = len(set(df[(df.년도 == 2018) & (df.행복랭킹 <= 50)].나라명) - set(df[(df.년도 == 2019) & (df.행복랭킹 <= 50)].나라명))
dd1

4

Q. 2018년,2019년 모두 기록이 있는 나라들 중 년도별 행복점수가 가장 증가한 나라와 그 증가 수치는?

In [60]:
count = df.나라명.value_counts()
target = count[count>=2].index
df2 =df.copy()
multiple = df2[df2.나라명.isin(target)].reset_index(drop=True)
multiple.loc[multiple['년도']==2018,'점수'] = multiple[multiple.년도 ==2018]['점수'].values * (-1)
result = multiple.groupby('나라명').sum()['점수'].sort_values().to_frame().iloc[-1]
result

점수    0.87
Name: Burundi, dtype: float64

---

(6) 지역구 에너지 소비량 데이터

In [61]:
import pandas as pd
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan%20City%20power%20consumption.csv')
df.head()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

Q. DateTime컬럼을 통해 각 월별로 몇개의 데이터가 있는지 데이터 프레임으로 구하여라

In [62]:
df['DateTime'] = pd.to_datetime(df['DateTime'])
dd1 = df.DateTime.dt.month.value_counts().to_frame()
dd1

    DateTime
1       4464
3       4464
5       4464
7       4464
8       4464
10      4464
4       4320
6       4320
9       4320
11      4320
12      4320
2       4032

Q. 3월달의 각 시간대별 온도의 평균들 중 가장 낮은 시간대의 온도를 출력하라

In [63]:
dd1 = df[df.DateTime.dt.month ==3]
dd2 = dd1.groupby(dd1.DateTime.dt.hour)['Temperature'].mean().sort_values().values[0]
dd2

11.506612903225806

Q. 3월달의 각 시간대별 온도의 평균들 중 가장 높은 시간대의 온도를 출력하라

In [64]:
dd1 = df[df.DateTime.dt.month ==3]
dd2 = dd1.groupby(dd1.DateTime.dt.hour)['Temperature'].mean().sort_values().values[-1]
dd2

18.393602150537635

Q. Zone 1 Power Consumption 컬럼의 value값의 크기가 Zone 2 Power Consumption 컬럼의 value값의 크기보다 큰 데이터들의 Humidity의 평균을 구하여라

In [65]:
dd1 = df[df['Zone 1 Power Consumption'] > df['Zone 2  Power Consumption']].mean()['Humidity']
dd1

C:\Users\user\AppData\Local\Temp\ipykernel_29988\1181478978.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  dd1 = df[df['Zone 1 Power Consumption'] > df['Zone 2  Power Consumption']].mean()['Humidity']

68.23624448055052

Q. 각 zone의 에너지 소비량의 상관관계를 구해서 데이터 프레임으로 표기하라

In [66]:
dd1 = df.iloc[:,-3:].corr()
dd1

,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
Zone 1 Power Consumption,1.000000,0.834519,0.750733
Zone 2 Power Consumption,0.834519,1.000000,0.570932
Zone 3 Power Consumption,0.750733,0.570932,1.000000

Q. Temperature의 값이 10미만의 경우 A, 10이상 20미만의 경우 B,20이상 30미만의 경우 C, 그 외의 경우 D라고 할때 각 단계의 데이터 숫자를 구하여라

In [67]:
def split_data(x):
    if x<10:
        return "A"
    elif x<20:
        return 'B'
    elif x<30:
        return 'C'
    else:
        return 'D'
df['sp'] = df.Temperature.map(split_data)
dd1 = df['sp'].value_counts()
dd1

B    26993
C    21105
A     2874
D     1444
Name: sp, dtype: int64

Q. 6월 데이터중 12시의 Temperature의 표준편차를 구하여라

In [68]:
dd1 = df[(df.DateTime.dt.hour == 12) & (df.DateTime.dt.month == 6)].std()['Temperature']
dd1

C:\Users\user\AppData\Local\Temp\ipykernel_29988\2675217362.py:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dd1 = df[(df.DateTime.dt.hour == 12) & (df.DateTime.dt.month == 6)].std()['Temperature']

2.049941782795103

Q. 6월 데이터중 12시의 Temperature의 분산을 구하여라

In [69]:
dd1 = df[(df.DateTime.dt.hour == 12) & (df.DateTime.dt.month == 6)].var()['Temperature']
dd1

C:\Users\user\AppData\Local\Temp\ipykernel_29988\734126288.py:1: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dd1 = df[(df.DateTime.dt.hour == 12) & (df.DateTime.dt.month == 6)].var()['Temperature']

4.202261312849164

Q. Temperature의 평균이상의 Temperature의 값을 가지는 데이터를 Temperature를 기준으로 정렬 했을때 4번째 행의 Humidity 값은?

In [70]:
dd1= df[df.Temperature >= df.Temperature.mean()].sort_values('Temperature').Humidity.values[3]
dd1

87.9

Q. Temperature의 중간값 이상의 Temperature의 값을 가지는 데이터를Temperature를 기준으로 정렬 했을때 4번째 행의 Humidity 값은?

In [71]:
dd1 = df[df.Temperature >= df.Temperature.median()].sort_values('Temperature').Humidity.values[3]
dd1

80.3

---

(7) 포켓몬 정보 데이터

In [72]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

Q. Legendary 컬럼은 전설포켓몬 유무를 나타낸다.전설포켓몬과 그렇지 않은 포켓몬들의 HP평균의 차이를 구하여라

In [73]:
dd1 = df[df.Legendary == True].mean()['HP']
dd2 = df[df.Legendary == False].mean()['HP']
dd3 = dd1-dd2
dd3

C:\Users\user\AppData\Local\Temp\ipykernel_29988\3954991586.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dd1 = df[df.Legendary == True].mean()['HP']
C:\Users\user\AppData\Local\Temp\ipykernel_29988\3954991586.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dd2 = df[df.Legendary == False].mean()['HP']

25.55614861329147

Q. Type 1은 주속성 Type 2 는 부속성을 나타낸다. 가장 많은 부속성 종류는 무엇인가?

In [74]:
dd1 = df['Type 2'].value_counts().index[0]
dd1

'Flying'

Q. 가장 많은 Type 1 의 종의 평균 Attack 을 평균 Defense로 나눈값은?

In [75]:
dd1 = df['Type 1'].value_counts().index[0]
dd2 = df[df['Type 1'] == dd1].Attack.mean() / df[df['Type 1'] == dd1].Defense.mean()
dd2

1.0165238678090576

Q. 포켓몬 세대(Generation) 중 가장많은 Legendary를 보유한 세대는 몇세대인가?

In [76]:
dd1 = df[df.Legendary == True].Generation.value_counts().index[0]
dd1

3

Q. ‘HP’, ‘Attack’, ‘Defense’, ‘Sp. Atk’, ‘Sp. Def’, ‘Speed’ 간의 상관 계수중 가장 절댓값이 큰 두 변수와 그 값을 구하여라

In [77]:
target = df[[ 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].corr().unstack().reset_index().rename(columns={0: "corr"})
result = target[target['corr']!=1].sort_values('corr',ascending=False).iloc[0]
print(result)

level_0     Sp. Def
level_1     Defense
corr       0.510747
Name: 26, dtype: object

Q. 각 Generation의 Attack으로 오름차순 정렬시 상위 3개 데이터들(18개)의 Attack의 전체 평균을 구하여라

In [78]:
dd1 = df.sort_values(['Generation','Attack']).groupby('Generation').head(3).Attack.mean()
dd1

19.5

Q. 각 Generation의 Attack으로 내림차순 정렬시 상위 5개 데이터들(30개)의 Attack의 전체 평균을 구하여라

In [79]:
dd1 =  df.sort_values(['Generation','Attack'],ascending=False).groupby('Generation').head(5).Attack.mean()
dd1

157.23333333333332

Q. 가장 흔하게 발견되는 (Type1 , Type2) 의 쌍은 무엇인가?

In [80]:
dd1 = df[['Type 1', 'Type 2']].value_counts().head(1)
dd1

Type 1  Type 2
Normal  Flying    24
dtype: int64

Q. 한번씩만 존재하는 (Type1 , Type2)의 쌍의 갯수는 몇개인가?

In [81]:
dd1 = df[['Type 1', 'Type 2']].value_counts()
dd2 = len(dd1[dd1==1])
dd2

39

Q. 한번씩만 존재하는 (Type1 , Type2)의 쌍을 각 세대(Generation)은 각각 몇개씩 가지고 있는가?

In [82]:
target = df[['Type 1','Type 2']].value_counts()
target2 =target[target==1]
lst = []
for value in target2.reset_index().values:
    t1 = value[0]
    t2 = value[1]
    
    sp = df[(df['Type 1']==t1) & (df['Type 2']==t2)]
    lst.append(sp)

result = pd.concat(lst).reset_index(drop=True).Generation.value_counts().sort_index()
result

1     1
2     4
3     5
4    13
5     7
6     9
Name: Generation, dtype: int64

---

(8) 대한민국 체력장 데이터

In [83]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv')
df.head()

,측정나이,측정회원성별,신장 : cm,체중 : kg,체지방율 : %,이완기혈압(최저) : mmHg,수축기혈압(최고) : mmHg,악력D : kg,앉아윗몸앞으로굽히기 : cm,교차윗몸일으키기 : 회,제자리 멀리뛰기 : cm,등급
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C

Q. 전체데이터의 수축기혈압(최고) - 이완기혈압(최저)의 평균을 구하여라

In [84]:
dd1 = (df['수축기혈압(최고) : mmHg'] - df['이완기혈압(최저) : mmHg']).mean()
dd1

52.19539414750672

Q. 50~59세의 신장평균을 구하여라

In [85]:
dd1 = df[(df.측정나이 >= 50) & (df.측정나이 <= 59)].mean()['신장 : cm']
dd1

C:\Users\user\AppData\Local\Temp\ipykernel_29988\728570519.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dd1 = df[(df.측정나이 >= 50) & (df.측정나이 <= 59)].mean()['신장 : cm']

164.07490107405314

Q. 연령대 (20~29 : 20대 …) 별 인원수를 구하여라

In [86]:
df['연령대'] = df.측정나이 // 10*10
dd1 = df['연령대'].value_counts()
dd1

20.0    5831
30.0    2660
40.0    1801
50.0    1769
60.0    1335
Name: 연령대, dtype: int64

Q. 연령대 (20~29 : 20대 …) 별 등급의 숫자를 데이터 프레임으로 표현하라

In [87]:
dd1 = df.groupby(['연령대','등급']).size()
dd1

연령대   등급
20.0  A     1585
      B     1443
      C     1455
      D     1348
30.0  A      743
      B      697
      C      626
      D      594
40.0  A      386
      B      428
      C      455
      D      532
50.0  A      321
      B      410
      C      474
      D      564
60.0  A      314
      B      371
      C      339
      D      311
dtype: int64

Q. 남성 중 A등급과 D등급의 체지방률 평균의 차이(큰 값에서 작은 값의 차)를 구하여라

In [88]:
dd1 = df[(df.측정회원성별 == 'M') & (df.등급 == 'A')].mean()['체지방율 : %']
dd2 = df[(df.측정회원성별 == 'M') & (df.등급 == 'D')].mean()['체지방율 : %']
dd3 = dd2-dd1
dd3

C:\Users\user\AppData\Local\Temp\ipykernel_29988\2756467389.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dd1 = df[(df.측정회원성별 == 'M') & (df.등급 == 'A')].mean()['체지방율 : %']
C:\Users\user\AppData\Local\Temp\ipykernel_29988\2756467389.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dd2 = df[(df.측정회원성별 == 'M') & (df.등급 == 'D')].mean()['체지방율 : %']

7.932086486137521

Q. 여성 중 A등급과 D등급의 체중의 평균의 차이(큰 값에서 작은 값의 차)를 구하여라

In [89]:
dd1 = df[(df.측정회원성별 == 'F') & (df.등급 == 'A')].mean()['체중 : kg']
dd2 = df[(df.측정회원성별 == 'F') & (df.등급 == 'D')].mean()['체중 : kg']
dd3 = dd2-dd1
dd3

C:\Users\user\AppData\Local\Temp\ipykernel_29988\2546047587.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dd1 = df[(df.측정회원성별 == 'F') & (df.등급 == 'A')].mean()['체중 : kg']
C:\Users\user\AppData\Local\Temp\ipykernel_29988\2546047587.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dd2 = df[(df.측정회원성별 == 'F') & (df.등급 == 'D')].mean()['체중 : kg']

5.176211590296504

Q. bmi는 자신의 몸무게(kg)를 키의 제곱(m)으로 나눈값이다. 데이터의 bmi 를 구한 새로운 컬럼을 만들고 남성의 bmi 평균을 구하여라

In [90]:
df['bmi'] = df['체중 : kg'] / (df['신장 : cm'] /100) **2
dd1= df[df.측정회원성별 == 'M'].mean()['bmi']
dd1

C:\Users\user\AppData\Local\Temp\ipykernel_29988\2547309245.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dd1= df[df.측정회원성별 == 'M'].mean()['bmi']

24.46134409819308

Q. bmi보다 체지방율이 높은 사람들의 체중평균을 구하여라

In [91]:
dd1 = df[df['bmi'] < df['체지방율 : %']].mean()['체중 : kg']
dd1

C:\Users\user\AppData\Local\Temp\ipykernel_29988\3895452341.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dd1 = df[df['bmi'] < df['체지방율 : %']].mean()['체중 : kg']

61.7408806392542

Q. 남성과 여성의 악력 평균의 차이를 구하여라

In [92]:
dd1 = df[df.측정회원성별 == 'M'].mean()['악력D : kg']
dd2 = df[df.측정회원성별 == 'F'].mean()['악력D : kg']
dd3 = dd1-dd2
dd3

C:\Users\user\AppData\Local\Temp\ipykernel_29988\270555975.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dd1 = df[df.측정회원성별 == 'M'].mean()['악력D : kg']
C:\Users\user\AppData\Local\Temp\ipykernel_29988\270555975.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dd2 = df[df.측정회원성별 == 'F'].mean()['악력D : kg']

17.55954185047464

Q. 남성과 여성의 교차윗몸일으키기 횟수의 평균의 차이를 구하여라

In [93]:
dd1 = df[df.측정회원성별 == 'M'].mean()['교차윗몸일으키기 : 회']
dd2 = df[df.측정회원성별 == 'F'].mean()['교차윗몸일으키기 : 회']
dd3 =dd1-dd2
dd3

C:\Users\user\AppData\Local\Temp\ipykernel_29988\1600036508.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dd1 = df[df.측정회원성별 == 'M'].mean()['교차윗몸일으키기 : 회']
C:\Users\user\AppData\Local\Temp\ipykernel_29988\1600036508.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dd2 = df[df.측정회원성별 == 'F'].mean()['교차윗몸일으키기 : 회']

14.243156833157627