## 빅데이터분석기사 작업형 2

현대 차량 가격 분류문제 데이터
- 데이터 설명 : 현대 차량가격 분류문제 (종속변수 :price)
- x_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/x_train.csv
- y_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/y_train.csv
- x_test: https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/x_test.csv
- x_label(평가용) : https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/y_test.csv
- 데이터 출처 :https://www.kaggle.com/mysarahmadbhat/hyundai-used-car-listing(참고, 데이터 수정)

In [1]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/x_test.csv")

display(x_train.head())
display(y_train.head())

,ID,model,year,transmission,mileage,fuelType,tax(£),mpg,engineSize
0,0,I30,2019,Manual,21,Petrol,150,34.0,2.0
1,1,Santa Fe,2018,Semi-Auto,10500,Diesel,145,39.8,2.2
2,2,Tucson,2017,Manual,29968,Diesel,30,61.7,1.7
3,3,Kona,2018,Manual,27317,Petrol,145,52.3,1.0
4,4,Tucson,2018,Semi-Auto,31459,Diesel,145,57.7,1.7

   ID  price
0   0  23995
1   1  28490
2   2  13251
3   3  14990
4   4  17591

In [2]:
# 결측치 확인
print(x_train.isna().sum())
print(x_test.isna().sum())

ID              0
model           0
year            0
transmission    0
mileage         0
fuelType        0
tax(£)          0
mpg             0
engineSize      0
dtype: int64
ID              0
model           0
year            0
transmission    0
mileage         0
fuelType        0
tax(£)          0
mpg             0
engineSize      0
dtype: int64

In [3]:
# 불필요한 컬럼제거
x_test_ID = x_test['ID']
x_train = x_train.drop(columns = ['ID'], axis =1)
x_test = x_test.drop(columns = ['ID'], axis =1)

In [4]:
# 범주형 수치형 변수 확인
obj = x_train.select_dtypes(include = 'object').columns
num = x_train.select_dtypes(include = 'number').columns
print(obj)
print(num)

Index(['model', 'transmission', 'fuelType'], dtype='object')
Index(['year', 'mileage', 'tax(£)', 'mpg', 'engineSize'], dtype='object')

In [5]:
# 범주형 변수 전처리
x_train = pd.get_dummies(x_train)
x_test = pd.get_dummies(x_test)

In [6]:
# 수치형 변수 전처리
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

In [7]:
# 데이터분리
from sklearn.model_selection import train_test_split
X_TRAIN, X_TEST, Y_TRAIN, Y_TEST = train_test_split(x_train, y_train['price'], test_size=0.3, random_state = 1234)

In [8]:
# 모델링
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(X_TRAIN, Y_TRAIN)
Y_TEST_PRED = model.predict(X_TEST)

In [9]:
# 평가
from sklearn.metrics import r2_score
print(r2_score(Y_TEST, Y_TEST_PRED))

0.9511036213457389

In [10]:
# 최종제출
y_test_pred = model.predict(x_test)
result = pd.DataFrame(y_test_pred)
result = result.rename(columns = {0:'price'})
final = pd.concat([x_test_ID, result], axis = 1).rename(columns = {0:'price'})
final.to_csv('123456.csv', index= False)

In [11]:
# 제출확인
check= pd.read_csv('123456.csv')
print(check)

       ID     price
0      21   8410.26
1      28   6567.41
2      33  35310.25
3      38  13577.52
4      45   9239.75
..    ...       ...
967  4833   3957.07
968  4840  17945.95
969  4842   7855.20
970  4843  12280.59
971  4848   7612.82

[972 rows x 2 columns]