## 빅데이터분석기사 작업형 2

대학원 입학가능성 데이터
- 데이터 설명 : 대학원 입학 가능성 예측 (종속변수 :Chance of Admit)
- x_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/x_train.csv
- y_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/y_train.csv
- x_test: https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/x_test.csv
- x_label(평가용) : https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/y_test.csv
- 데이터 출처 :https://www.kaggle.com/mohansacharya/graduate-admissions(참고, 데이터 수정)

In [1]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/x_test.csv")

display(x_train.head())
display(y_train.head())

,ID,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
0,0,67,327,114,3,3.0,3.0,9.02,0
1,1,112,321,109,4,4.0,4.0,8.68,1
2,2,495,301,99,3,2.5,2.0,8.45,1
3,3,356,317,106,2,2.0,3.5,8.12,0
4,4,250,321,111,3,3.5,4.0,8.83,1

   ID  Chance of Admit
0   0             0.61
1   1             0.69
2   2             0.68
3   3             0.73
4   4             0.77

In [2]:
# 결측치확인
print(x_train.isna().sum())
print(x_test.isna().sum())

ID                   0
Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
dtype: int64
ID                   0
Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
dtype: int64

In [3]:
# 불필요한 컬럼 제거
x_test_ID = x_test['ID']
x_train = x_train.drop(columns = ['ID'], axis =1)
x_test = x_test.drop(columns = ['ID'], axis =1)

In [4]:
# 범주형 수치형 변수 파악
obj = x_train.select_dtypes(include = 'object').columns
num = x_train.select_dtypes(include = 'number').columns

print(obj)
print(num)

Index([], dtype='object')
Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR', 'CGPA', 'Research'],
      dtype='object')

In [5]:
# 수치형 변수 전처리
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

In [6]:
# 데이터 분리
from sklearn.model_selection import train_test_split
X_TRAIN, X_TEST, Y_TRAIN, Y_TEST = train_test_split(x_train, y_train['Chance of Admit'], test_size= 0.3, random_state = 1234)

In [7]:
# 모델링
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(X_TRAIN, Y_TRAIN)
Y_TEST_PRED = model.predict(X_TEST)

In [8]:
# 평가
from sklearn.metrics import r2_score
print(r2_score(Y_TEST, Y_TEST_PRED))

0.7580742505089202

In [9]:
# 최종제출
y_test_pred = model.predict(x_test)
result = pd.DataFrame(y_test_pred)
result = result.rename(columns = {0:'Chance of Admit'})
result.to_csv('123456.csv', index = False)

In [11]:
# 제출확인
check = pd.read_csv('123456.csv')
print(check)

    Chance of Admit
0            0.6884
1            0.7506
2            0.8762
3            0.5395
4            0.6700
..              ...
95           0.5658
96           0.9368
97           0.6803
98           0.8869
99           0.6231

[100 rows x 1 columns]